RewriteEngine on

#removes .php from url if ending in index, contact, or registration
#[Not case-sensitive, last] ^start $end
RewriteRule ^(index|contact|registration|login)$ $1.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]
RewriteRule ^category/(\d+)$ category.php?category=$1 [NC,L]

